<ol>
	<li><%= link_to "Home", landings_index_path %></li>
	<li><%= link_to "About", landings_about_path %></li>
	<li><%= link_to "Contact", landings_contact_path %></li>
	<li><%= link_to "Blog", blogs_path %></li>
</ol>