<div class="container">
	<h1 class="mb-5">Create New Product</h1>
	<div class="row">
		<%= render :partial => "form", locals: { nombre_boton: "Create Product" } %>
		<%#= render "form" %>
	</div>
</div>

